@{
    Layout="_Layout";
}

<div class="contain">

        <div style="width:100%;padding-left:10px;border-bottom:1px solid #E6ECF0;height:50px" class="main">
            <div style="margin-top:-10px;" class="form-group has-search">
              <span class="fa fa-search form-control-feedback"></span>
              <input style="width: 90%;float:left;" type="text" class="form-control" placeholder="Search Twitter">
              <span style="float:right;color:#5DBBF6;padding:12px" class="fas fa-cog fa-lg"></span>
            </div>
          </div>
          <div style="width:100%;background-color:white;" class="card">
            <div class="card-body">
              <h2>Trends for you</h2>
            </div>
            <div class="card-body1">
                <div class="categori">
                  <p>Trending in Turkey</p>
                  <span class="fas fa-chevron-down"></span>
                </div>
                <div class="categoriTitle">
                  <p class="subject">#GelecekİçinErtele</p>
                  <p class="like">202K Tweets</p>
                </div>
            </div>
            <div class="card-body1">
                <div class="categori">
                  <p>Trending in Turkey</p>
                  <span class="fas fa-chevron-down"></span>
                </div>
                <div class="categoriTitle">
                  <p class="subject">#GelecekİçinErtele</p>
                  <p class="like">202K Tweets</p>
                </div>
            </div>
            <div class="card-body1">
                <div class="categori">
                  <p>Trending in Turkey</p>
                  <span class="fas fa-chevron-down"></span>
                </div>
                <div class="categoriTitle">
                  <p class="subject">#GelecekİçinErtele</p>
                  <p class="like">202K Tweets</p>
                </div>
            </div>
            <div class="card-body1">
                <div class="categori">
                  <p>Trending in Turkey</p>
                  <span class="fas fa-chevron-down"></span>
                </div>
                <div class="categoriTitle">
                  <p class="subject">#GelecekİçinErtele</p>
                  <p class="like">202K Tweets</p>
                </div>
            </div>
            <div>
              <p class="details">Show more</p>
            </div>
        </div>
</div>