<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/forgotPassword.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="topHeader">
        <div class="container mx-auto">
            <div class="row mx-auto">
                <div class="header">
                    <a href="@Url.Action("Home","Home")">
                        <img src="~/img/Twitter_Logo_Blue.png" alt="">
                    </a>
                    <p>Password Reset</p>
                </div>
            </div>
        </div>
    </div>
    <div class="pageContainer">
        <div>
            <h4>Find your Twitter account</h4>
            <p style="margin-left: 2px;">Enter your email, phone number, or username.</p>
            <form>
                <div class="form-group">
                    <input  type="email" class="form-control" id="inputArea" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="button">Search</button>
            </form>
        </div>
    </div>
</body>
</html>