@{
    Layout="_LayoutMessages";
}

<div style="width:70%;margin-left:5.6%;height:100%;" class="col-md-12">
    <div class="row">
        <div style="border-right:1px solid #E6ECF0;height:950px;padding:0px;" class="col-md-5">
            <div style="border-bottom:1px solid #E6ECF0;padding:0px;height:5%;" class="col-md-12">
                <div class="col-md-12 messagesTitle">
                    <span>Messages</span>
                    <span class="far fa-envelope envelope"></span>
                </div>
            </div>
            <div style="padding:0px;height:6.5%;border-bottom:1px solid #E6ECF0" class="col-md-12">
                <div style="padding-top:10px;padding-left:10px;padding-right:10px;">
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Search for people and groups">
                    </div>
                </div>
            </div>
            <div style="padding:0px;height:89%;" class="col-md-12">
                <div style="max-width: 100%;border-bottom:1px solid #E6ECF0" class="row mainrow">
                    <div class="tweets">
                        <div class="img-div">
                            <img style="height: 49px;" class="rounded-circle" src="~/img/user.png" alt="">
                        </div>
                        <div class="carduser">
                            <div class="cardusername">
                                <p id="cardusername">Oguzcan</p>
                            </div>
                            <div class="carduserdescription">
                                <p id="carduserdescription"> oguzcan</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="border-right:1px solid #E6ECF0;height:900px;padding:0px;" class="col-md-7">
            <div style="padding:0px;height:5.3%;border-bottom:1px solid #E6ECF0;padding" class="col-md-12">
                <div class="col-md-12 messagesTitle">
                    <span>Oguzcan Ocal</span>
                    <span class="fas fa-exclamation envelope"></span>
                </div>
            </div>
            <div style="padding:0px;height:90%;" class="col-md-12"></div>
            <div style="padding:0px;height:5.5%;border:1px solid #E6ECF0;" class="col-md-12">
                <div style="margin:auto" class="row">
                    <div style="height:49px" class="col-md-2">
                        <span style="color:#2AA6F3;padding-top:18px;margin-right:17px;" class="far fa-image fa-lg"></span>
                        <span style="color:#2AA6F3;" class="far fa-chart-bar fa-lg"></span>
                    </div>
                    <div id="chatinput" class="col-md-9">
                        <div class="form-group has-search1">
                            <span class="far fa-smile fa-lg form-control-feedback"></span>
                            <input type="text" class="form-control" placeholder="Start a new message">
                        </div>
                    </div>
                    <div style="height:49px;" class="col-md-1">
                        <span style="color:#2AA6F3;padding-top:18px;margin-right:10px;" class="far fa-paper-plane fa-lg"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>