@{
    Layout="_Layout";
}
<div class="contain">
    <div class="profileHeader">
        <span class="fas fa-arrow-left fa-lg"><a href="@Url.Action("Home","Home")"></a></span>
        <div class="text text-2 pl-md-4">
            <h6 class="mb-2 profileheaderTitle">Oguzcan Ocal</h6>
            <div class="meta-wrap twtcount">
                0 Tweets
            </div>
        </div>
    </div>
    <div style="width: 100%;height:50%;margin-top:10px;">
        <img style="width: 100%;height:50%" src="~/img/images.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div>
      <img style="height: 130px;margin-top:-70px;margin-left:10px;border:1px solid red" class="rounded-circle img-fluid" src="~/img/user.png" alt="">
       <button type="button" class="btn btn-outline-primary setupProfile">Set up Profile</button>
    </div>
    <div>
        <div>
            <h6 class="mb-2 profileTitle">Oguzcan Ocal</h6>
            <div class="meta-wrap profileSubTitle">
                OguzcanOcal
            </div>
            <span class="far fa-calendar-alt fa-lg date"><span>    Joined March 2020</span></span>
            <div class="following">
                <span><b style="color:black">150</b> Following</span>
                <span><b style="color:black">100</b> Follower</span>
            </div>
        </div>
    </div>
</div>