
<div class="row mainrow">
  <div class="tweets">
    <div class="img-div">
      <img style="height: 49px;" class="rounded-circle" src="~/img/user.png" alt="">
    </div>
    <div class="carduser">
      <div class="cardusername">
        <p id="cardusername"></p>
      </div>
      <div class="carduserdescription">
        <p id="carduserdescription"></p>
      </div>
    </div>
  </div>
</div>
