.topHeader{
    box-shadow: 0 0 3px #aaa;
    border-bottom: #e1e8ed;
    color:#66757f;
    font-size: 14px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    padding: 0 12px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    height: 45px;
    
}
.container{
    max-width: 590px;
    margin:auto;
    position: relative;
    top:1px;
    font-family: Arial, Helvetica, sans-serif;
}
.row{
    width: 55%;
    text-align: center;
}
.header img{
    height: 35px;
    margin-top: 3px;
    margin-left: 1px;
    display: inline-block;
}
.header{
    text-align: center;
}
.header p{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color:#66757f;
    height: 50%;
    text-align: center;
    position: relative;
    top: 2px;
    left: -5px;
}
.pageContainer{
    box-sizing: border-box;
    background: white;
    max-width: 590px;
    margin: 50px auto 20px;
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    color: #292f33;
}
.pageContainer h4{
    font-weight: bold;
    color: #14171a;
    font-size: 28px;
    margin-bottom: 36px;
    display: block;
}
.pageContainer p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    color:#292f33;
}

#inputArea{
    width: 55%;
    border-radius: 30px;
    height: 20%;
}

.button{
    display: block;
    margin-top: 25px;
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff;
    border-radius: 100px;
    box-shadow: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}