#logo{
    height: 60px;
    max-width: 100%;
}
.logo-div{
    text-align: center;
    margin-top:10px;
}
.title-div{
    text-align: center;
    margin-top: 15px;
}
.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-wrap: break-word;
    line-height: 30px;
    font-style: normal;
    font-size: 23px;
    color: #14171a;
    font-weight: 700;
}
#form-id{
    max-width: 650px;
    margin: auto;
    margin-top: -30px;
}
.form-title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #657786;
    text-align: left;
    background-color: #F5F8FA;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

}
.form-input{
    box-shadow: none !important;
    outline: none !important;
    outline-style: none !important;
    background-color: #F5F8FA!important;
    width: 100%!important;
    padding-top: 2px!important;
    padding-bottom: 5px!important;
    border:none!important;
    box-sizing: border-box;
    padding-left: 10px!important;
    padding-right: 10px!important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block!important;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    line-height: normal;
    overflow-wrap: break-word;
    font: 400 17px Arial;
    margin-top: 8px;
    border-bottom: 2px solid grey;
}
.form-input:focus{
    outline: none !important;
}
.form-grp{
    background-color: #F5F8FA;
    margin-top: 22px;
}
.button button{
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    font-size:15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-wrap: break-word;
    font-style: normal;
    font-stretch: normal;
    min-height: 49px;
    text-align: center;
    background-color: #8ED0F9;
    border:none;
    border-radius: 30px;
    padding-top: 12px;
}

.button button:focus{
    background-color: #8ED0F9 !important;
}

.button button:hover{
    background-color: #8ED0F9 !important;
}

.footer{
    margin-top: 20px;
    font-weight: 400;
    text-align: center;
    font-size:15px;
    font-style: normal;
    line-height: 20px;
    color: #1b95e0;
}